.Dialog {

  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-centered {
    text-align: center;

    &::before  {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .Dialog {
      top: 0;
      display: inline-block;
      padding-bottom: 0;
      text-align: left;
      vertical-align: middle;
    }
  }
}

.Dialog {
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
}
