.Drawer {
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
  }

  &-content {
    padding: 12px;
    background-color: #fff;
    min-width: 300px;
    min-height: 600px;
  }
}

.animation-enter {
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.animation-leave {
  animation-name: moveRight;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: both;
}

@keyframes moveLeft {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes moveRight {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}

.hide {
  transform: translate(100%);
}
