.wrap {
  --offset-top: 100px;
  --offset-left: 100px;
}

.dialog {
  
  position: absolute;
  top: var(--offset-top);
  left: var(--offset-left);

  color: #242424;
  background: #fff;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;

  transition: all 0.375s;
}
